.folder {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  width: fit-content;
  padding-top: 0.2rem;
}

.file {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  padding-top: 0.2rem;
}

.innerFolder {
  margin-top: 2px;
}
